@charset "utf-8";

	body { background-color:black; color:white; font-family: 'Montserrat', sans-serif!important; }
	.mainScene {
		position:fixed;
		z-index:1100;
		top:0;
		bottom: 7%;
		left:12%;
		right:0;
		text-align:center;
		vertical-align:middle;
		border-radius:5px;
		background-color:rgba(0,0,0,0.58);
		box-shadow:inset 0px 0px 10px rgba(39,210,245,0.8);
	}
	.loadinProcess {
		position:fixed;
		left:48%;
		top:48%;
		right:48%;
		bottom:48%;
		background-image: url(/images/cycle.gif);
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center center;
	}
	.personage {
  		position: absolute;
  		z-index: 1200;
  		width: 120px;
  		border-radius: 100%;
	}
	.mainScene .inputContainer {
  		position:absolute;
  		top:30%;
  		left:5%;
  		width:80%;
  		height:30%;
  		text-align:left;
			background-color:black;
			border: solid 1px white;
  		color:#2BF513;
  		padding:5px 10px;
  		display:block;
  		max-width:95%;
	}
	.coursewareQuest {
  		position:absolute;
  		top:5%;
  		left:5%;
	}
	.coursewareInputElement {
  		background-color:transparent;
  		color:#2BF513;
  		border:none;
  		font-size: 14px;
  		font-weight: bold;
  		animation:input_mc 0.5s infinite;
	}
  nav {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 70px;
      text-align:right;
  }
	.buttonToNextLevel, .testResultButton {
  		position:relative;
      width:70px;
      height:70px;
      margin-right:20px;
      display:inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      cursor:pointer;
      outline:none;
      transition: all 0.5s;
	}
  .buttonToNextLevel {
    background-image: var(--button-to-next-level);
  }
  .testResultButton {
      background-image: var(--button-test-answer);
  }
  .testResultButton:hover:before {
      content: "Проверить ответ";
  }
  .buttonToNextLevel:hover:before {
      content: "Следующий уровень";
  }
  .testResultButton:hover:before, .buttonToNextLevel:hover:before {
      font-family: 'monospase', 'sans-serif';
			display:block;
			margin-bottom: 50px;
      font-size:14px;
      font-weight:bold;
      color:white;
      text-shadow:0px 0px 4px rgba(0,0,0,0.8);
			font-family: 'Jura', 'Didact Gothic', 'Roboto', sans-serif;
  }
    .centralImage {
  	   position:absolute;
  	   width:20%;
  	   height:20%;
  	   bottom:0%;
  	   left:2%;
  	   background-repeat:no-repeat;
  	   background-position:center center;
  	   background-size:contain;
       background-image: var(--quiz-central-picture);
  	   text-align:center;
   }
   .lifeImage {
        background-image: var(--quiz-life-picture);
   }
   .garevna_gameOver {
      background-image: var(--quiz-life-picture);
   }
   .garevna_gameOver, .garevna_gameVictory, .garevna_gameFailure {
	    background-size:cover;
   }
   .garevna_gameOver {
	   background-image: var(--quiz-game-over);
	   background-position:center center;
   }
   .garevna_gameVictory {
	   background-image: var(--quiz-game-win);
	   background-position:top center;
   }
   .garevna_gameFailure {
	   background-image: var(--quiz-game-fail);
	   background-position:top center;
   }
   .targetElement {
	   position:fixed;
	   background-size:contain;
	   background-repeat:no-repeat;
	   background-position:top left;
     background-image: var(--quiz-target-picture);
	   width:70px;
	   height:70px;
   }
   .targetElement > p {
	   transform-origin:center top;
	   transform-style:preserve-3d;
	   font-weight:bold;
	   text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
   }
   .targetElement > p:hover {
	   font-size:120%;
	   animation: text_rotation 1s infinite;
	   cursor:pointer;
   }
   .livesPanel, .scorePanel {
	   position:fixed;
	   z-index:2000;
	   border: groove 2px white;
	   border-radius:4px;
	   padding:5px;
	   font-size:10px;
   }
   .livesPanel {
	   left:0;
	   bottom:30px;
	   min-width:30px;
	   max-width:90px;
	   height:auto;
   }
   .scorePanel {
	   left:0;
	   bottom:0;
	   width:300px;
   }
   .scorePanel > progress { width:200px; height:10px; }
   .scorePanel:before { content: 'Score: '; }
   .livesPanel > div { width:40px; height:40px; background-size:contain; background-repeat:no-repeat; background-position:center center; display:inline-block; }
   @keyframes button_mc {
	   0% { right: 0; }
	   50% { right:20px; }
	   100% { right: 0; }
   }
   @keyframes input_mc {
	   0% { border: none; }
	   50% { border:solid 1px red; }
	   100% { border: none; }
   }
   @keyframes life_mc {
	   0% { background-image: var(--quiz-life-picture); margin-left:auto; margin-top:auto; }
	   50% { margin-left:-10px; margin-top:-10px; }
	   100% { margin-left:-20px; margin-top:-20px; }
   }
   @keyframes text_rotation {
	   0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	   50% { transform: rotateX(-10deg) rotateY(10deg) rotateZ(-10deg); }
	   100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
   }
   @media screen and (max-width: 480px) {
	   .livesPanel { width:48px; padding:2px; }
   }
   @media screen and (max-height: 480px) {
	   .mainScene { top:0; left:10%; }
	   .livesPanel { width:70px; padding:2px; }
	   .livesPanel div { width:30px; height:30px; }
   }
   @media screen and (max-width: 420px)  {
	   body { font-size:10px; }
		 .mainScene { left:7%; right: -7%; }
	   .targetElement { width:50px; height:50px; }
	   .livesPanel { width:36px; padding:2px; }
	   .livesPanel div { width:30px; height:30px; }
   }
